# .env
# Copy this file from .env.example (or rename accordingly) and fill in your actual credentials

DB_USER=admin
DB_PASS=12345
DB_HOST=postgres
DB_PORT=5432
DB_NAME=news


# SQLAlchemy database URL
DATABASE_URL=postgresql+psycopg2://admin:12345@db:5432/news

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@admin.admin
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080
